# Environnement Python et Django
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env
*.env
poetry.lock  # Optionnel, à inclure si vous ne voulez pas versionner les dépendances exactes

# Dépendances Node.js (React)
client/node_modules/
client/.pnp
client/.yarn/cache
client/.yarn/unplugged
client/.yarn/build-state.yml
client/.yarn/install-state.gz
client/.pnp.*

# Fichiers de build du frontend
client/build/
client/dist/

# Fichiers de build Docker
*.dockerignore
*.tar.gz
*.bak

# Bases de données locales
*.sqlite3
*.db

# Fichiers de configuration sensibles
server/server_config/settings_local.py
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers temporaires et logs
*.log
*.log.*
logs/
*.pid
*.seed
*.pid.lock

# Fichiers de monitoring (Prometheus/Grafana)
prometheus/data/
grafana/data/

# Fichiers de développement locaux
*.swp
*.swo
.DS_Store
.idea/
.vscode/
*.code-workspace

# Fichiers de couverture de tests
coverage/
.coverage
*.cover
*.lcov

# Fichiers de build CI/CD
.cache/
.pytest_cache/
.junit/